body {
    margin: 0px;
}

.exemplo { /*toda estilizacao de CLASS comeca com . */
    border: 1px solid #00ff00;
    /*padding: 10px; /*espacamento interno*/
    padding: 10px 50px 10px 50px; /*ORDEM --> Superior, Direita, Inferior, Esqueda*/
    margin: 10px; /*espacamento externo*/
}