* {
    box-sizing: border-box; /*utiliza o tamanho do conteudo que foi definido pelo programador (incluindo borda, padding*/
    /*box-sizing: content-box; /*utiliza o tamanho do conteudo que foi definido pelo programador e acrescenta a borda e padding*/
}

body {
    margin: 50px;
    font-size: 17px;
}

p {
    color: blue;
    font-size:20px;
    font-family: 'Arial Narrow', sans-serif;
    text-align: justify;
    /*text-transform: lowercase;*/ /*Transforma as letras em minusculas (lowercase) ou maiusculas (uppcase)*/
    /*letter-spacing: 1px;*/ /*Espacamento entre palavras*/
    word-spacing: 10px; /*Espcamento entre palavras*/
    line-height: 25px; /*Espaçamento entre linhas*/
    text-shadow: 0px 2px 3px red; /*Sombreamento no texto*/
}
