* {
    box-sizing: border-box; /*utiliza o tamanho do conteudo que foi definido pelo programador (incluindo borda, padding*/
    /*box-sizing: content-box; /*utiliza o tamanho do conteudo que foi definido pelo programador e acrescenta a borda e padding*/
}

body {
    margin: 50px;
    font-size: 17px;
}

h1 {
    font-family: 'Indie Flower', cursive;
}

table {
    width: 600px;
}

table thead {
    background-color: #CCC;
}

td, th {
    padding: 10px;
    text-align: left;
}



tbody td {
    border-bottom: 1px solid #CCC;
}

tbody tr:nth-child(event) {
    background-color: red;
}
